<html>
<form id="add_new_ap" action="/add-ap" method="POST">
<font face="Verdana">
<label>Access Point Name:</label>
<input type="text" name="ap_name" required>
<br>
<label>Access Point IP Address:</label>
<input type="text" name="ap_ip" required>
<br>

<label>Access Point Group:</label>

<body>
<form id="configure_ap_group">
<select name="group_id">

<option value=""></option>
{% for item in apGroups %}
<option value="{{ item[0] }}">{{ item[1] }}</option>
{% endfor %}

</select>
<br>
<label>SSH Username:</label>
<input type="text" name="ssh_username" required>
<br>
<label>SSH Password:</label>
<input type="password" name="ssh_password" required>
<label>SNMP Community:</label>
<input type="password" name="ap_snmp" required>
<br>
<br>
<input type="submit" value="Register">
</form>
<br>
<br>
{{ status if status }}
</html>
