<html>
<font face="Verdana">
Choose SSID:
<br>
<body>
<form id="delete_ssid" action="/api/v1/ssids/24ghz_radius">
<input type="hidden" name="method" value="DELETE">
<select name="ssid_id">

<option value=""></option>
{% for dict in ssids %}
    <option value="{{ dict['ap_ssid_id'] }}">{{ dict['ap_ssid_name'] }}</option>
{% endfor %}

</select>
<input type="submit" value="Delete SSID">
</form>
<button onclick="window.location.href='/forms/delete-ssids'">Back to Delete SSID Wizard</button>
<br>
<br>
{{ status if status }}
</body>
</html>
