<html>
<font face="Verdana">
Choose SSID:
<br>
<body>
<form id="deploy_ssid" action="/deploy-ssid-5ghz-radius-group" method="POST">
<select name="ssid_id">

<option value=""></option>
{% for dict in ssids %}
    <option value="{{ dict['ap_ssid_id'] }}">{{ dict['ap_ssid_name'] }}</option>
{% endfor %}

</select>
<input type="submit" value="Deploy SSID">
</form>
<button onclick="window.location.href='/forms/deploy-ssids-group'">Back to Deploy SSID Wizard</button>
<br>
<br>
{{ status if status }}
</body>
</html>
