<html>
<center>
<select name="deployssid" onchange="location=this.value;">
 <option value="">Select a SSID Deployment Option:</option>
 <option value="/forms/deploy-ssid-24ghz-group">Deploy a 2.4GHz WPA2-PSK SSID (Group)</option>
 <option value="/forms/deploy-ssid-24ghz-radius-group">Deploy a 2.4GHz RADIUS SSID (Group)</option>
 <option value="/forms/deploy-ssid-5ghz-group">Deploy a 5GHz WPA2-PSK SSID (Group) </option>
 <option value="/forms/deploy-ssid-5ghz-radius-group">Deploy a 5GHz RADIUS SSID (Group)</option>
</select>
</center>
</html>