<html>
<center>
<select name="removessid" onchange="location=this.value;">
 <option value="">Select a SSID Removal Option:</option>
 <option value="/forms/remove-ssid-24ghz-group">Remove a 2.4GHz WPA2-PSK SSID (Group)</option>
 <option value="/forms/remove-ssid-24ghz-radius-group">Remove a 2.4GHz RADIUS SSID (Group)</option>
 <option value="/forms/remove-ssid-5ghz-group">Remove a 5GHz WPA2-PSK SSID (Group)</option>
 <option value="/forms/remove-ssid-5ghz-radius-group">Remove a 5GHz RADIUS SSID (Group)</option>
</select>
</center>
</html>