<html>
<font face="Verdana">
Choose SSID:
<br>
<body>
<form id="remove_ssid" action="/remove-ssid-5ghz-radius-group" method="POST">
<select name="ssid_id">

<option value=""></option>
{% for dict in ssids %}
    <option value="{{ dict['ap_ssid_id'] }}">{{ dict['ap_ssid_name'] }}</option>
{% endfor %}

</select>
<input type="submit" value="Remove SSID">
</form>
<button onclick="window.location.href='/forms/remove-ssids-group'">Back to Remove SSID Wizard</button>
<br>
<br>
{{ status if status }}
</body>
</html>
