sudo: true
language: php
php:
- '7.0'
services:
- mysql
install: 
- source <(curl -s https://raw.githubusercontent.com/falcon78921/Cardinal/master/scripts/install/travis-builder.sh)
- composer global require nette/tester
- composer update
before_script: 
- sudo cp -r * /var/www/html # Copy Cardinal contents to root of Apache2 web directory
- sudo grep -o "/path/to/cardinalmysql.ini" /var/www/html/includes/dbconnect.php
- sudo chown -R www-data:www-data /var/www/html
- sudo chmod a+x /home/travis/.config/composer/vendor/nette/tester/src/tester.php
- cd /home/travis/.config/composer/vendor/nette/tester
- ls /home/travis/.config/composer/vendor/nette/tester
- mysql -e 'CREATE DATABASE cardinal;'
- mysql -u root --password="" cardinal < /var/www/html/sql/cardinal.sql
- mysql -e 'SHOW TABLES from cardinal;'
- mysql -u root --password="" cardinal -e 'INSERT INTO settings (settings_id,cardinal_home,cardinal_scripts,cardinal_tftp,poll_schedule) VALUES ('1','/var/www/html','/var/www/html/scripts','/var/www/html/scripts/install/ci','2')'
- sudo mv -f /var/www/html/scripts/install/ci/dbconnect.php /var/www/html/includes
- sudo mv -f /var/www/html/scripts/install/ci/poller.php /var/www/html/scripts
- sudo cat /var/www/html/includes/dbconnect.php
- sudo phpenmod mysqli
- sudo php -m
script: 
- sudo php /home/travis/.config/composer/vendor/nette/tester/src/tester.php -C /var/www/html/*.php
- sudo php /home/travis/.config/composer/vendor/nette/tester/src/tester.php -C /var/www/html/includes/*.php
- sudo php /home/travis/.config/composer/vendor/nette/tester/src/tester.php -C /var/www/html/scripts/*.php
- sudo php /home/travis/.config/composer/vendor/nette/tester/src/tester.php -C /var/www/html/functions/*.php
- sudo pyflakes /var/www/html/scripts/*.py
