[Unit]
Description=Cardinal - Open Source Cisco Access Point Controller
After=network.target

[Service]
User=cardinal
Group=www-data
WorkingDirectory=<PATH_TO_CARDINAL_WEBAPP_DIRECTORY>
Environment="PATH=<PATH_TO_CARDINAL_VIRTUALENV>:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
Environment="PYTHONPATH=<PATH_TO_SCOUT_LIBRARY>"
ExecStart=<PATH_TO_CARDINAL_VIRTUALENV_UWSGI> --ini wsgi.ini --logto /var/log/cardinal/cardinal.log

[Install]
WantedBy=multi-user.target
