<html>
<body>
<form id="network_tools" action="/" method="POST">
<font face="Verdana">
<label>Hostname/IP Address:</label>
<input type="text" name="network_ip" required>
<br> 
<br>

<input type="submit" value="Nmap Scan" name="nmap" formaction="/do-nmap">
<input type="submit" value="Ping" name="ping" formaction="/do-ping">
<input type="submit" value="Traceroute" name="tracert" formaction="/do-tracert">
<input type="submit" value="Dig" name="dig" formaction="/do-dig">
<input type="submit" value="Curl" name="curl" formaction="/do-curl">

</font>
</script>
</form>
</body>
</html>

